{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{# <style type="text/css">.input-forgot label { font-size:25px!important; font-weight: 100!important;}

.input-forgot input {
    min-height: 30px!important;
    width: 50%!important;
}
</style>

#}

{% block body %}

<div>
    <div id="wrap">
        <section>
            <div class="login-register">
                <!-- Shop content -->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="login">
                        <h2 class="mauve fs45 fw300 text-center">Réinitialiser votre mot de passe</h2>
                        <div class="container" style="margin-left: 10%;">
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                <div class="input-forgot">
                                    {% if invalid_username is defined %}
                                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                                    {% endif %}
                                    <br>
                                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                    <input type="text" id="username" name="username" required="required" />
                                </div>
                                <br>
                                <div class="text-center" style="float:left;">
                                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 hidden-xs hidden-sm padding-connexion">
                    <img class="image-connexion" src="../theme/img/vmj_connexion_background.jpg" alt="" />
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}