{% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="login-sec">
                <div class="login">
                    <div class="login-form">
                        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                            {{ form_widget(form) }}
                            <div>
                                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
