{% extends 'layout/layoutBO.html.twig' %}

{% block body %}
    <div id="wrap">
        {% block header %}
            {{parent()}}
        {% endblock header %}


        {% block fos_user_content %}
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        {% endblock fos_user_content %}


        {% block footer %}
            {{parent()}}
        {% endblock footer %}
    </div>
{% endblock body %}
