<!doctype html>
<html class="no-js" lang="fr-FR">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Au Professionnel : Un jour avant le début de l’immersion 
    --> 

    <!-- Header  -->	
    <div id="header_mail_vmj">&nbsp</div>


    <!-- logo  -->
    <div id="logo_mail_vmj">
        <img id="logo_mail_vmj" src="http://lacinquiemepatte.fr/wp-content/uploads/2016/11/logo-mail.png">
    </div>	

    <!-- Content  -->




    <div id="content_mail_vmj">	
        <h1>Bonjour $prenom,</h1>
        <p>Et oui le <span class="bold sf23"> “Jour J” c’est demain ! </span></p>
        <p>Pour rappel, $prénomParticulier arrive le $dateDébut à partir de $heureDeDébut (jusqu’au $dateFin) pour tout apprendre du métier de $nomImmersion </p>
        <p>En cas de besoin, n’hésitez pas à appeler directement $prénomParticulier sur son téléphone : <a href="callto:$numéroParticulier">$numéroParticulier </a> ou à le contacter via notre messagerie interne.</p>
        <div id="div_bouton">
            <div id="bouton_mail_vmj">
                <p id="bouton10_mail_vmj">
                    <a href="#">Écrire à $prénomParticulier</a> <br> 
                    <span>(cliquez ici pour écrire au particulier")</span>
                </p>
            </div> 
        </div>
        <p>-</p>
        <p>Retrouvez également toutes les informations de votre immersion dans votre espace personnel sous l’onglet <span class="bold">“Immersion”</span> ou cliquez tout simplement ici :</p>

        <div id="div_bouton">
            <div id="bouton_mail_vmj">
                <p id="bouton10_mail_vmj">
                    <a href="#">Consulter mon immersion</a> <br> 
                    <span>(cliquez ici pour consulter votre immersion")</span>
                </p>
            </div> 
        </div>   
        <p>L'équipe Viemonjob<br> </p>

    </div> 


    <!-- Footer  -->
    <div id="footer_mail_vmj"> 

        <h2>Retrouvez nous sur</h2>
        <a href="https://www.facebook.com/viemonjob/"><img src="http://www.viemonjob.fr/theme/img/facebook-Viemonjob.png"></a>
        <a href="https://www.linkedin.com/company/vie-mon-job?trk=biz-companies-cym"><img src="http://www.viemonjob.fr/theme/img/linkedin.png"></a>
        <a href="https://twitter.com/viemonjob"><img src="http://www.viemonjob.fr/theme/img/twitter.png"></a>
        <a href="https://www.youtube.com/channel/UCDBpFd6dSkzjSPyaFcAT5Mg"><img src="http://www.viemonjob.fr/theme/img/youtube.png"></a>
        <a href="https://www.instagram.com/viemonjob/"><img src="http://www.viemonjob.fr/theme/img/intagram.png"></a><br>
        <br>
        <br>
        <br>
        ©2016 - Viemonjob - Tous droits réservés <br>
        77 rue de Bellevue - 92100 Boulogne-Billancourt <br><br>
        <a href="http://www.viemonjob.fr/contact">Nous contacter</a> - <a href="http://www.viemonjob.fr/pages/cgv">Conditions Générales d'utilisation</a><br><br>
        Si vous ne voulez plus recevoir d'e-mail de la part de Viemonjob,<br>
        <span>Cliquer ici pour <a href="#">vous désinscrire.</a> </span>
    </div> 





    <!-- CSS -->
    <style type="text/css"> 

        body {
            width: 830px!important;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;


        }



        body, p ,a , h1, h2, h3, span , span a {
            font-family: 'Roboto'!important;
            font-size: 18px!important;
            line-height: 1.42857143!important;
            font-weight: 100!important;
            text-align: center!important;
            color: #666666!important;
        } 
        span {
            font-style: italic!important;
        }

        span a:hover,a:hover {
            color:#55c9c8!important;
            font-style: italic!important
        }

        h1 { 
            font-weight: bold!important; 
            font-size: 30px!important; 
        }

        h2 {  
            font-size: 27px!important;
        }

        h3 { 
            font-size: 25px!important;
        }

        .sousligne-gras { text-decoration: underline!important;
                          font-weight: bold!important;
                          font-style: normal!important;}

        .sousligne { text-decoration: underline!important;
        }

        .span-marquante {
            font-weight: bold!important;
            font-size: 25px!important;
        }

        #header_mail_vmj {     
            background-color: #55C9C8!important;
            min-height: 300px!important; 
        }


        #logo_mail_vmj {     
            position: absolute;
            top: 125px;
            left: 40%;
        }


        #content_mail_vmj { 
            padding: 80px 30px 30px 30px!important;
            line-height: 3;
        }

        #footer_mail_vmj {     
            padding-top: 40px!important;
            padding-bottom: 40px!important;
            background-color: #fe288b!important;

            background-image: url(http://www.viemonjob.fr/theme/img/fond-footer-Viemonjob.png)!important;
            background-repeat: no-repeat!important;
            background-size: cover!important;
            color: white!important;
        } 

        #footer_mail_vmj, #footer_mail_vmj h2,#footer_mail_vmj a, #footer_mail_vmj span, #bouton_mail_vmj p a  {
            color: white!important;
        }

        #footer_mail_vmj img {
            margin: 0 4px 0 4px!important;
        }

        #bouton_mail_vmj p a{
            padding: 10px 20px 0px 20px;
            font-weight: bold!important;
            font-weight: 500!important;
            font-size: 20px!important;

            height: 43px!important;
            text-align: center!important;
            color: white!important;

            border-radius: 30px!important;
            -webkit-border-radius: 30px!important;
            -moz-border-radius: 30px!important;
            display: inline-table;
            vertical-align: middle;
            text-decoration: blink;
        }  

        #bouton-mail-vmj p {
            color: #222!important;
            background: #FFC600!important; 
            display:block;
        }

        #bouton1_mail_vmj a{

            background: #00A300!important; 

        }
        #bouton2_mail_vmj a{

            background: #62BE00!important; 

        }
        #bouton3_mail_vmj a{

            background: #84CD00!important; 

        }
        #bouton4_mail_vmj a{

            background: #C8E600!important; 

        }
        #bouton5_mail_vmj a{

            background: #55C9C8!important; 

        }
        #bouton6_mail_vmj a{

            background: #00A7FF!important; 

        }
        #bouton7_mail_vmj a{

            background: #005EDD!important; 

        }
        #bouton8_mail_vmj a{

            background: #361D9B!important; 

        }
        #bouton9_mail_vmj a{

            background: #7E198D!important; 

        }
        #bouton10_mail_vmj a{

            background: #B20080!important; 

        }
        #bouton10_mail_vmj a{

            background: #FF1782!important; 

        }
        #bouton10_mail_vmj a{

            background: #FF609E!important; 

        }
        #bouton10_mail_vmj a{

            background: #FF8F00!important; 

        }
        #bouton10_mail_vmj a{

            background: #FFC600!important; 

        } 

        #bouton_mail_vmj span {font-size: 15px!important;}

        .lien_bleuvert_vmj  {color: #55C9C8!important;}

        .bleuvert  {color: #55C9C8!important;}

        .fs20 {font-size: 20px!important;}
        .fs23 {font-size: 23px!important;}
        .bold {font-weight: bold!important; }

    </style>



