
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Viemonjob 2016</title>
        <meta name="description" content="Viemonjob : Préparer une reconversion ou tester le métier de vos rêves. Essayer un nouveau métier c’est peut-être changer de vie."> 
        <meta name="keywords" content="viemonjob, Essayer un métier, tester un métier, chercher une orientation, reconversion professionnel, solution au burn-out, sortir du chômage, faire de ma passion mon métier, complément de revenue pour les entreprises,  
              particulier">
        <meta name="author" content="La cinquième patte">
        <meta name="designer" content="La cinquième patte">
        <meta name="application-name" content="Nom de l’application">
        <meta name="contact" content="06 18 14 16 25 77 rue de Bellevue, 92100 Boulogne-Billancourt"/>
        <meta name="web_author" content="La cinquième patte"/>
        <meta name="designer" content="MetaExtensions" /> 
        <meta name="version" content="1.0"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('vmj-favicon.png') }}" />
        <!-- Bootstrap Grid Framework -->
        <link rel="stylesheet" href="{{ asset('theme/css/bootstrap.css') }}" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


        <style type="text/css">

            .landing-page {
                height: 50%!important;

                background-image: url({{asset('/img/logo-retina-vmj.jpg')}});
                background-repeat: no-repeat!important; 
                background-position: center center!important;
                background-size: contain!important;

            }


            .landing-page2 {
                background-color: #55c9c8!important;  
                min-height: 50%!important;
                color:white!important;
                text-align: center;
                padding-top: 10%!important;
                font-size: 4em;

            }


        </style>


        <div class="container">
            <div class="row">
                 <div class="col-lg-12 col-md-12 col-xs-12">
                <section class="landing-page">

                &nbsp

            </section>
            </div>
            </div>
            <div class="row">
            <section class="landing-page2">
                            <p class="fw100 blanc "> DÉCEMBRE 2016 </p>
            
          
            </section>
        </div></div>
 